html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
}

body {
	background-color: rgb(61, 74, 100);
	color: #e4f0ff;
}

text {
	fill: #fff;
	text-transform: uppercase;
	text-overflow: ellipsis;
}

.pointer {
	cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked+.slider {
	background-color: #2196f3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/***********************
   SIDEBAR
***********************/
.closed-sidebar {
	transform: translateX(calc(300px + 2rem));
}

.sidebar {
	list-style-type: none;
	background: #2b3548;
	padding: .5rem 1rem;
	border-radius: 1rem 0 0 1rem;
	position: fixed;
	top: 0;
	right: 0;
	margin: 1rem 0;
	height: calc(100vh - 3rem);
	width: 300px;
	transition: transform .5s ease-in-out;



	.sidebar-close {
		position: absolute;
		top: 50%;
		left: -40px;
		background: #3a9bcd;
		width: 40px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 20px 0 0 20px;
	}
}

/***********************
   LEGEND
***********************/
.legend {
	list-style-type: none;
	margin: 0;
	padding: 0;

	.legend-item {
		margin: .8rem 0;

		:hover {
			color: #fff;
		}
	}

	.legend-bullet {
		width: 1rem;
		height: 1rem;
		background: #000;
		border-radius: 200px;
		display: inline-block;
		margin: 0 0.5rem -2px 0;
	}
}

/***********************
   SUNBURST
***********************/
.close {
	position: absolute;
	font-size: 3rem;
	margin: .5rem;
	color: #d76666;
}

#sunburst-container {
	z-index: 25000;
	background: #3c4962;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	// transform: translateX(100vw);
}

/***********************
   LEAFLET
***********************/

#leaflet-map {
	height: 100vh;
	font-family: Roboto;
}

.map-label {
	font-weight: 700;
	color: slateblue;
	text-align: center;
	margin-top: -1em !important;
	width: 200px;

	>div {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		left: -50%;
	}

	.map-pin {
		width: 20px;
		height: 20px;
		background: #337ad94f;
		border-radius: 555px;
		border: 3px solid steelblue;
	}

	.map-pin,
	.map-label-text {
		text-shadow: 1px 1px 2px rgba(199, 199, 212, 0.85);
	}
}

/***********************
   HELPERS
***********************/

.is-italic {
	font-style: italic;
}


@media only screen and (max-width: 1000px) {
	svg {
		font-size: 6px;
	}
}